
body {
    display: flex;
    justify-content: stretch;
    height: 200vh;
    width: 100vw;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    height: 20vh;
    width: 100vw;
    background-color: tan;
    flex-direction: row;
    position: absolute;
    border-bottom: 5px double darkred;
}  

header article {
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100vw;
    background-color: tan;
}

main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    flex-direction: column;
    height: 200vh;
    width: 100vw;
    align-items: center;
}

main section {
    display: flex;
    flex-wrap: nowrap;
    width: 100vw;
    flex-direction: column;
    margin-top: 100px;
    border: 3px double darkred;
}

footer {
    display: flex;
    justify-content: center;
    height: 25px;
    width: 100vw;
    bottom: 0;
    background-color: tan;
    position: absolute;
    border-top: 5px double darkred;
}

ul {
    display: flex;
    justify-content: baseline;
}

nav {
    display: flex;
    align-content: center;
    height: 120px;
    justify-content:space-around;
    color: black;
    text-align: center;
}

nav a {
    color: darkgreen;
    font-size: 16px;
}

nav a:hover {
    color: lightgreen;
}

p {
    border: 3px double darkred;
}

a:hover {
    color: lightgreen;
    border-radius: 2px;
}

a:visited {
    color: black;

}

.contact-a {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-name {
    border-bottom: 5px double darkgreen;
}

#pro-image {
    display: flex;
    height: 123px;
    width:400px;

}

#section2 {
    display: flex;
    align-self: center;
    border: 2px double darkred;
}

#fam-pic {
    display: flex;
    justify-content: flex-end;
    height: 125px;
    width: 450px;
}

/* #pro-pic {
    display: flex;
    width: 90px;
    bottom: 0px;
    top: 0px;
    justify-content: flex-start;
} */
